/* GENERAL */
body {
  margin: 0;
  font-family: 'Fredoka', sans-serif;
  background: linear-gradient(45deg, hotpink, deepskyblue);
  color: #000;
}

/* HEADER */
header {
  background: yellow;
  text-align: center;
  padding: 25px;
  border-bottom: 5px solid black;
}

header h1 {
  margin: 0;
  font-size: 3rem;
}

/* LAYOUT */
.layout {
  display: flex;
  padding: 20px;
  gap: 20px;
}

/* SIDEBAR */
.sidebar {
  width: 25%;
  background: lightpink;
  padding: 20px;
  border-radius: 25px;
  border: 4px solid hotpink;
}

.sidebar button {
  background: deepskyblue;
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px 0;
}

.sidebar button:hover {
  background: hotpink;
}

/* STICKERS */
.stickers img {
  width: 80px;
  margin: 5px;
}

/* POSTS */
.posts {
  width: 75%;
}

.post {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  border: 4px solid hotpink;
  box-shadow: 5px 5px 0 black;
}

.post h2 {
  margin-top: 0;
}

/* FOOTER */
footer {
  text-align: center;
  background: black;
  color: white;
  padding: 10px;
}
